@import 'reset.css';

$green: rgb(0, 255, 153);
$red: rgb(255, 102, 102);
* {
  box-sizing: border-box;
}

html,
body {
  color: rgb(228, 228, 228);
  background: rgb(19, 19, 19);
  font-family: sans-serif;
}
header {
  padding: 10px 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.logo {
  height: 45px;
  margin-right: 10px;
}
h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-image: linear-gradient(pink, purple);
}
h2 {
  font-size: 1.9em;
  font-weight: bold;
}

.app {
  width: 1040px;
  margin: 0 auto;
}
#app-content {
  display: flex;
}
#subheading {
  margin: 20px 0;
  span {
    font-size: 50%;
    color: #777;
    font-weight: normal;
  }
}
#state-options,
.state-option {
  display: flex;
}
#state-options {
  align-items: center;
  justify-content: space-between;
}
.state-option div {
  padding: 5px;
  font-size: 0.9em;
  font-weight: bold;
  background: rgb(43, 43, 43);
  cursor: pointer;
  text-align: center;
}
#type-switch {
  div {
    width: 100px;
    padding: 15px;
    &.active {
      color: black;
      background-color: $green;
    }
  }
}
#animated-switch {
  div {
    padding: 10px;
    font-size: 0.6em;
  }
  div:nth-child(1) {
    &.active {
      color: black;
      background: $green;
    }
  }
  div:nth-child(2) {
    &.active {
      color: black;
      background: $red;
    }
  }
}
#buttons {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
#results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gif-container {
  margin: 10px 0;
  img {
    margin: 10px 0;
    cursor: pointer;
  }
  .rating {
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(189, 189, 189);
  }
}
#user-input-form {
  display: flex;
}
#user-input-form .btn {
  width: 60px;
  height: 40px;
  background: linear-gradient(to top right, purple, rgb(255, 94, 0));
  color: white;
  transition: 1s;
  &:hover {
    background: linear-gradient(
      to top right,
      rgb(77, 6, 77),
      rgb(255, 137, 69)
    );
  }
}
#user-input {
  height: 40px;
  width: 980px;
  padding: 10px;
  font-size: 0.9em;
}
.btn {
  border: 0;
  border-radius: 0;
  padding: 10px;
  font-size: 0.9em;
  font-weight: bold;
  background: $red;
  cursor: pointer;

  transition: 0.2s;

  &:disabled {
    background: rgb(53, 53, 53);
    color: rgb(95, 95, 95);
  }

  &:hover {
    background: lighten($red, 20%);
    color: rgb(58, 58, 58);
  }
}
.btn-search {
  border-radius: 100px;
  padding: 10px 20px;
  margin: 5px 5px;
  background: rgb(43, 43, 43);
  color: rgb(214, 214, 214);
  font-size: 1em;
  font-weight: normal;

  .remove-topic {
    margin-right: 5px;
    color: rgb(58, 58, 58);

    &:hover {
      color: rgb(255, 255, 255);
    }
  }

  .topic-text {
    font-style: italic;
    font-size: 0.9em;
  }
}
.pagination {
  margin: 20px 0 50px 0;
}

// Increment button hover background colors for some flar
@for $i from 1 through 20 {
  #buttons .btn:nth-child(#{$i}):hover {
    background: hsl($i * 7, 100, 50);
  }
}
